body {
    background-color: grey;
    display: flex;
}

.draw-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    height: 600px;
}

.draw-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.draw-box {
    flex: 1;
    background-color: white;
    /* border: 1px solid black; */
}